<div
  class="d-flex bg-white shadow rounded px-4 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3"
>
  <h1 class="h2">
    <i class="bi bi-person-circle"></i>
    Admins
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="/" class="btn btn-sm btn-info">
        <i class="bi bi-backspace-fill"></i>
        Back
      </a>
      {{!-- <a href="" class="btn btn-sm btn-success">
        <i class="bi bi-database-fill-add"></i>
        Add
      </a> --}}
    </div>
  </div>
</div>
<div class="row mt-4 row-cols-1 row-cols-sm-2 row-cols-md-3">

  {{#if admin.length}}
    {{#each admin}}
      <div class="col-3">
        <div class="card bg-white shadow">
          <div class="newsImage rounded-top">
            <img class="" src="{{image}}" alt="{{title}}" />
          </div>
          <div class="card-body">
            <h3 class="fs-bold">{{firstName}}</h3>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  <i class="bi bi-folder2-open"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
              {{!-- <small class="text-muted">{{updatedAt}}</small> --}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="alert alert-info" role="alert">
      No news yet!
    </div>
  {{/if}}

</div>